
.cb-wrapper{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  padding-bottom: 5%;
  grid-area: auto;
  grid-gap:5px;
}

.cb-wrapper label{
  text-align:left;
}

.router-link {
  box-shadow: inset 0 1px 0 0 #ffffff;
  display: inline-block;
  cursor: pointer;
  color: darkslateblue;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
}
.active-router {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: #ffffff linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  display: inline-block;
  cursor: pointer;
  color: #c585f7;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
}


.modal-body td {
  padding:10px;
}

.idHidden{
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.modal-body p {
  word-break: break-all;
}
