input,
textarea {
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }