<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/input.css" type="text/css">
</head>
<body>



<form action="#" th:action="@{/addDish}" th:object="${dish}" method="post">
    <p>
        <label for="inputName">Name: </label>
        <input id = "inputName" required type="text" th:value="${name}" name="name"/><br />
    </p>
    <p>
        <label for="inputTimeToMake">Time to make: </label>
        <input id="inputTimeToMake" required pattern="\d*" title="Only numbers" type="text" th:value="${avgTimeToMake}" name="avgTimeToMake"/><br />
    </p>
    <p>
        <label for="inputCalories">Calories: </label>
        <input id="inputCalories" required pattern="\d*" title="Only numbers" type="text" th:value="${calories}" name="calories"/><br />
    </p>
    <p>
        <label for="inputRating">Rating: </label>
        <input id="inputRating" pattern="\d*" title="Only numbers" type="text" th:value="${rating}" name="rating"/><br />
    </p>
    <p>
        <label for="inputWarm">Warm: </label>
        <input id="inputWarm" required type="checkbox" checked name="warm"/><br />
    </p>
    <p>
        <label for="inputType">Type: </label>
        <select id="inputType" required name="type">
            <option th:each="type : ${T(com.Nick.DishProject.model.Dish.DishType).values()}"
                    th:value="${type}"
                    th:text="${type}"
                    />
    </select>
    </p>
    <input type="submit" />
</form>

</body>
</html>