<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Category</title>
</head>
<body>
    <div>
        <h5>Category ID: <th th:text="${category.id}"></th> </h5>
    </div>
    <div class="data">
        <table>
        <thead>
            <tr>
                <th th:text="ID"></th>
                <th th:text="Type"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${category.id}"></td>
                <td th:text="${category.type}"></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="form">
        <form action="#" th:action="@{/categories}" th:object="${category}" th:method="put">
            <input type="hidden" name="_method" value="put"/>
            <input type="hidden" th:value="${category.id}" name="id" />
            <input type="text" th:value="${category.type}" name="type" />
            <p th:if="${#fields.hasErrors('type')}" th:class="${#fields.hasErrors('type')}? error">
                Cannot be empty!</p><br />
            <input type="submit" />
        </form>
    </div>
</body>
</html>