<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
    <title>Categories</title>
</head>
<body>
    <div class="Title">
        <h1>Categories</h1>
    </div>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th th:text="ID"></th>
                    <th th:text="Type"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category:${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.type}"></td>
                    <td>
                        <a th:href="@{'/categories/'+${category.id}}">
                            <input type="submit" class="edit" value="edit"/>
                        </a>
                    </td>
                    <td>
                        <form action="#" th:action="@{/categories}" th:object="${category}" th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="hidden" th:value="${category.id}" name="id" required/>
                            <input type="submit"  class="delete" value="delete"/>
                        </form>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h5>add</h5>
    </div>
    <form th:action="@{/categories}" th:object="${category}" method="post">
        <input type="text" th:value="${type}" name="type"/>
        <p th:if="${#fields.hasErrors('type')}" th:class="${#fields.hasErrors('type')}? error">
            Cannot be empty!</p>
        <br />
        <input type="submit" />
    </form>

</body>
</html>