<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dishes</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th th:text="Name" />
            <th th:text="TimeToMake" />
            <th th:text="Calories" />
            <th th:text="Rating" />
            <th th:text="Warm" />
            <th th:text="Type" />
        </tr>
    </thead>
    <tbody>
        <tr th:each="dish: ${dishes}">
            <td th:text="${dish.name}" />
            <td th:text="${dish.avgTimeToMake}" />
            <td th:text="${dish.calories}" />
            <td th:text="${dish.rating}" />
            <td th:text="${dish.warm}" />
            <td th:text="${dish.type}" />
        </tr>
    </tbody>
</table>
</body>
</html>