

canvas{
  background-color: wheat;
}

.center {
  width: 100%;
  height: 50%;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}
